<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calculadora Ac01</h1>
    <form action="/calculaform" method="POST" name="testes">
        <input type="text" id="v1" name="v1" placeholder="Primeiro numero">
        <br>
        <br>
        <input type="text" id="v2" name="v2" placeholder="Segundo numero">
        <br>
        <br>
        <input type="text" id="operacao" name="operacao" placeholder="Digite o nome ou simbolo da operacao">
        <p>soma + | subtrair - | multiplica * | divide /</p>
        <br>
        <br>
        <input type="submit" name="enviar">
    </form>
</body>
</html>